<header class="site-header py-5 bg-white">
<div class="container text-center">
<h1 class="site-title fw-bold mb-2"><a href="{{metadata.url}}" 
    class="text-dark fw-bold text-decoration-none">{{metadata.hero.title}}</a></h1>
<p class="site-description mx-auto text-muted italic">
{{metadata.hero.description or metadata.description}}
</p>
</div>
</header>